<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><h1>Cate Uselton</h1></div>
            <div class="intro-heading">Software Developer</div>
            <div class="abt-text"> You've wandered across the personal site of Cate Uselton. </div>
            </div>
        </div>
    </div>
</header>
