<!-- Header -->
<div class="splash">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><h1>Cate Uselton</h1></div>
            <div class="intro-heading"><h4>Software Developer</h4></div>
              <div class="abt-text">
                 You've wandered across the personal site of Cate Uselton. I am an <a href="http://adadevelopersacademy.org/">Ada Adcademy</a> student in the final months of my internship. I do back end and full stack development. I'm happiest when analyzing tricky problems and making stuff work. I also knit, bike and think about language. <a href="http://wandrwith.us">Take a wander with my capstone project.</a>
              </div>
            </div>
        </div> <!--  end intro -->
    </div> <!-- end container-->
</div> <!-- end splash-->
