<div id="main-container" class="container-fluid">
  <div class="row"> <!-- Main row -->
    <div class="col-xs-6"> <!-- Picture column -->
      <div id="biopic-container">
        <img src="https://placekitten.com/400/450"/>
      </div>
    </div> <!-- end picture column -->
    <div class="col-xs-6 top-buffer"> <!-- info column -->
      <div class="row">
        <div class="col-xs-4">
          Twit
        </div>
        <div class="col-xs-4">
          Link
        </div>
        <div class="col-xs-4">
          Git
        </div>
      </div>
      <div class="row top-buffer">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div> <!-- end info col -->
  </div> <!-- End main row -->
</div>
