/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

header {
  // padding-top:300px;
  background-image: url(cateprofile.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  padding-bottom: 400px;

}

header .intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
}

body {
  // background-color: gray;
}

.navbar {
  background: transparent;
  border-color: transparent;
}

//
// .top-buffer {
//   margin-top: 100px;
// }
//
// .center {
//   text-align: center;
// }

.biopic-container {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.social-buttons {
  float:right;
}

.icon {
  color: white;
  padding: 20px;
  font-size: 3em;
}
.icon:hover {
  color: lightgray;
  text-decoration: none;
}

#biopic {
  border-radius: 20%;
}
