<!DOCTYPE html>
<html>
<head>
  <title>Biosite</title>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700' rel='stylesheet' type='text/css'>  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Signika:700,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="simple-nav">
                <ul class="list-inline social-buttons">
                    <li><a class="icon" href="https://twitter.com/catusel"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a class="icon" href="https://github.com/catstavi"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a class="icon" href="https://www.linkedin.com/pub/cate-uselton/61/5bb/62a"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-->
        </div>
        <!-- /.container-fluid -->
    </nav>

<%= yield %>

</body>
</html>
